.header {
  background: url("../img/header-background.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 700px; }
  .header .header-logo {
    margin: 40px 0 0 209px; }
  .header .header-nav {
    border-bottom: 0.1px groove #fff;
    height: 103px; }
    .header .header-nav .header-nav-list {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end;
      -ms-flex-direction: row;
          flex-direction: row; }
      .header .header-nav .header-nav-list .header-nav-item {
        display: inline-block;
        margin: 10px; }
        .header .header-nav .header-nav-list .header-nav-item .header-nav-link {
          font-family: 'Open Sans', sans-serif;
          text-decoration: none; }

.features {
  background-color: #2e3b4e; }
  .features .features-container .features-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 350px; }
    .features .features-container .features-item .features-item-title {
      margin: 0; }

.ad {
  background-image: url("../img/ad1-image.png"); }
  .ad .ad-background-color {
    background-color: #E7526B;
    background-size: 100% 100%; }

.photography-container {
  background-image: url("../img/photography-background.png"); }

.get-in-touch-container {
  background-color: #E7526B; }

.footer {
  background-color: #2e3b4e; }
