.header {
  background: url("../img/header-background.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 700px; }
  .header .header-nav {
    border-bottom: 0.1px groove #fff;
    height: 103px; }
    .header .header-nav .header-logo {
      margin: 40px 0 0 209px; }
    .header .header-nav .header-nav-list {
      list-style-type: none;
      display: inline-block;
      float: right;
      margin-top: 43px; }
      .header .header-nav .header-nav-list .header-nav-item {
        display: inline-block;
        margin: 0 10px; }
        .header .header-nav .header-nav-list .header-nav-item .header-nav-link {
          font-family: 'Open Sans', sans-serif;
          font-size: 13px;
          text-decoration: none;
          color: #fff;
          padding-bottom: 35px; }
          .header .header-nav .header-nav-list .header-nav-item .header-nav-link:hover {
            border-bottom: 2px solid #fff; }
        .header .header-nav .header-nav-list .header-nav-item .header-search-form {
          position: relative; }
          .header .header-nav .header-nav-list .header-nav-item .header-search-form .search-input {
            border-radius: 30px;
            height: 45px;
            padding-left: 28px;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            width: 220px;
            margin-top: -10px;
            outline: none; }
          .header .header-nav .header-nav-list .header-nav-item .header-search-form .icon-search-1 {
            color: #b6b6b6;
            margin-left: -10px;
            position: absolute;
            top: 20%;
            right: 5%; }
  .header .header-text-container {
    margin-left: 279px;
    margin-top: 163px;
    width: 404px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #fff; }
    .header .header-text-container .header-title {
      font-size: 40px;
      font-weight: normal; }
    .header .header-text-container .header-subtitle {
      font-size: 12px;
      margin-right: 19px; }

.features {
  background-color: #2e3b4e; }
  .features .container {
    padding-bottom: 142px; }
    .features .container .features-list {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-direction: row;
          flex-direction: row;
      color: #fff; }
      .features .container .features-list .features-item {
        -ms-flex-preferred-size: 392px;
            flex-basis: 392px;
        margin: 65px 34px 0 0;
        font-family: 'Open Sans', sans-serif; }
        .features .container .features-list .features-item .features-item-title {
          margin: 0;
          font-weight: bold;
          font-size: 15.02px;
          padding-bottom: 34px; }
        .features .container .features-list .features-item .features-item-description {
          font-weight: normal;
          font-size: 15.02px; }

.ad {
  background-image: url("../img/ad1-image.png");
  height: 536px; }
  .ad .ad-background-color {
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif; }
    .ad .ad-background-color .container {
      margin: 0 403px;
      padding-top: 156px;
      text-align: center; }
      .ad .ad-background-color .container .ad-title {
        font-size: 35px;
        opacity: 1;
        padding-bottom: 25px;
        font-weight: normal; }
      .ad .ad-background-color .container .ad-description {
        font-size: 15px;
        opacity: 1;
        padding-bottom: 25px; }
      .ad .ad-background-color .container .button {
        border-radius: 30px;
        height: 60px;
        width: 282px;
        background-color: #fff;
        border: 0;
        font-size: 18px;
        color: #E7526B; }

.article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: auto; }
  .article .article-image {
    height: 450px;
    width: auto; }
  .article .article-text-container {
    font-family: 'Open Sans', sans-serif;
    color: #3a4d60; }
    .article .article-text-container .article-title {
      font-weight: bold;
      font-size: 15.02px; }
    .article .article-text-container .article-subtitle {
      font-size: 19px; }
    .article .article-text-container .article-description {
      font-size: 15px; }
  .article .right-container {
    margin-left: 103px;
    margin-top: 94px; }

.photography-container {
  background-image: url("../img/photography-background.png"); }

.get-in-touch-container {
  background-color: #E7526B; }

.footer {
  background-color: #2e3b4e; }

* {
  padding: 0;
  margin: 0; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

.button-color {
  border-radius: 30px;
  height: 62px;
  width: 282px;
  background-color: #8824cd;
  border: 0;
  font-size: 18px; }
