.header {
  background: url("../img/header-background.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 700px; }
  @media screen and (max-width: 420px) {
    .header {
      background-size: 100% 100%; } }
  @media screen and (max-width: 1024px) {
    .header {
      min-height: 1024px; } }
  .header .header-nav {
    border-bottom: 0.1px groove #fff;
    height: 86px; }
    .header .header-nav .header-logo {
      margin: 32px 0 0 162px; }
      @media screen and (max-width: 420px) {
        .header .header-nav .header-logo {
          margin: 36px 0 0 29px; } }
      @media screen and (max-width: 1024px) {
        .header .header-nav .header-logo {
          margin: 32px 0 0 162px; } }
    .header .header-nav .header-nav-list {
      list-style-type: none;
      display: inline-block;
      float: right;
      margin-top: 33px; }
      @media screen and (max-width: 420px) {
        .header .header-nav .header-nav-list {
          display: none; } }
      @media screen and (max-width: 1024px) {
        .header .header-nav .header-nav-list {
          display: none; } }
      .header .header-nav .header-nav-list .header-nav-item {
        display: inline-block;
        margin: 0 16px; }
        .header .header-nav .header-nav-list .header-nav-item .header-nav-link {
          font-family: 'Open Sans', sans-serif;
          font-size: 11px;
          text-decoration: none;
          color: #fff;
          padding-bottom: 35px; }
          .header .header-nav .header-nav-list .header-nav-item .header-nav-link:hover {
            border-bottom: 2px solid #fff; }
        .header .header-nav .header-nav-list .header-nav-item .header-search-form {
          position: relative; }
          .header .header-nav .header-nav-list .header-nav-item .header-search-form .search-input {
            border-radius: 30px;
            height: 34px;
            padding-left: 28px;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            width: 160px;
            margin-top: -10px;
            outline: none; }
          .header .header-nav .header-nav-list .header-nav-item .header-search-form .icon-search-1 {
            color: #b6b6b6;
            margin-left: -10px;
            position: absolute;
            top: 7%;
            right: 4%; }
  .header .header-text-container {
    margin: 219px 0 0 199px;
    width: 419px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #fff; }
    @media screen and (max-width: 420px) {
      .header .header-text-container {
        text-align: center;
        margin: 0 auto;
        width: 81%; } }
    .header .header-text-container .header-title {
      font-size: 41.5px;
      font-weight: normal;
      padding-bottom: 37px;
      margin: 0;
      line-height: 59px; }
      @media screen and (max-width: 420px) {
        .header .header-text-container .header-title {
          font-size: 30px;
          margin-top: 181px;
          width: 346px;
          padding-bottom: 20px;
          line-height: 40px; } }
    .header .header-text-container .header-subtitle {
      font-size: 10px;
      margin: 9px 19px 0 0; }
      @media screen and (max-width: 420px) {
        .header .header-text-container .header-subtitle {
          margin: 9px 0 0 0; } }

.features {
  background-color: #2e3b4e; }
  .features .container {
    padding-bottom: 113px;
    max-width: 1100px; }
    .features .container .features-list {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-direction: row;
          flex-direction: row;
      color: #fff;
      padding: 13px 0 0 30px; }
      .features .container .features-list .features-item {
        -ms-flex-preferred-size: 352px;
            flex-basis: 352px;
        margin: 29px 5px 0 0;
        font-family: 'Open Sans', sans-serif; }
        .features .container .features-list .features-item .features-item-title {
          margin: 18px 0 0 0;
          font-weight: bold;
          font-size: 13px;
          padding-bottom: 21px; }
        .features .container .features-list .features-item .features-item-description {
          font-weight: normal;
          font-size: 13px;
          line-height: 22px; }
  .features .semicircle {
    height: 0px;
    margin-left: 625px; }
    @media screen and (max-width: 420px) {
      .features .semicircle {
        margin: 0 auto;
        width: 96px;
        margin-top: -22px; } }
    @media screen and (max-width: 1024px) {
      .features .semicircle {
        margin: 0 auto;
        width: 96px;
        margin-top: -22px; } }
    .features .semicircle .semicircle-image {
      height: 29px; }

.ad1 {
  background-image: url("../img/ad1-image.png");
  height: 452px; }
  .ad1 .ad-background-color {
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif; }
    .ad1 .ad-background-color .container {
      margin: 0 403px;
      padding-top: 122px;
      text-align: center; }
      @media screen and (max-width: 420px) {
        .ad1 .ad-background-color .container {
          margin: 0 auto;
          padding-top: 141px; } }
      @media screen and (max-width: 1024px) {
        .ad1 .ad-background-color .container {
          margin: 0 auto; } }
      .ad1 .ad-background-color .container .ad-title {
        font-size: 29px;
        padding-bottom: 13px;
        font-weight: normal; }
        @media screen and (max-width: 420px) {
          .ad1 .ad-background-color .container .ad-title {
            font-size: 20px;
            padding-bottom: 13px; } }
      .ad1 .ad-background-color .container .ad-description {
        font-size: 13.2px;
        padding-bottom: 28px;
        width: 80%;
        margin: 0 0 0 46px; }
        @media screen and (max-width: 420px) {
          .ad1 .ad-background-color .container .ad-description {
            width: 97%;
            margin: 0 0 0 7px; } }
      .ad1 .ad-background-color .container .button-form {
        margin-right: 2px; }
        @media screen and (max-width: 420px) {
          .ad1 .ad-background-color .container .button-form {
            margin: 0 0 0 22px; } }
        .ad1 .ad-background-color .container .button-form .button {
          border-radius: 30px;
          height: 52px;
          width: 284px;
          background-color: #fff;
          border: 0;
          font-size: 16px;
          color: #E7526B; }
          @media screen and (max-width: 420px) {
            .ad1 .ad-background-color .container .button-form .button {
              margin-right: 88px; } }

.ad2 {
  background-image: url("../img/ad2-image.png");
  height: 464px; }
  .ad2 .ad-container {
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    padding-top: 150px;
    margin: 0 30px;
    text-align: center; }
    @media screen and (max-width: 420px) {
      .ad2 .ad-container {
        padding-top: 119px; } }
    @media screen and (max-width: 1024px) {
      .ad2 .ad-container {
        margin: 0; } }
    .ad2 .ad-container .ad-title {
      font-size: 33px;
      padding-bottom: 18px;
      font-weight: normal;
      margin: 0 60px 0 0; }
      @media screen and (max-width: 420px) {
        .ad2 .ad-container .ad-title {
          margin: 15px 60px 10px 0;
          font-size: 24px; } }
      @media screen and (max-width: 1024px) {
        .ad2 .ad-container .ad-title {
          margin: 0; } }
    .ad2 .ad-container .ad-subtitle {
      font-size: 18px;
      padding-bottom: 25px;
      width: 750px;
      margin-left: 300px;
      color: #a87bb7;
      line-height: 27px; }
      @media screen and (max-width: 420px) {
        .ad2 .ad-container .ad-subtitle {
          font-size: 13px;
          padding-bottom: 24px;
          width: 358px;
          margin: 0; } }
      @media screen and (max-width: 1024px) {
        .ad2 .ad-container .ad-subtitle {
          width: 762px;
          margin: 0; } }
    .ad2 .ad-container .ad-description {
      font-size: 10px;
      margin: 9px 63px 0 0;
      background-size: 100% auto; }
      @media screen and (max-width: 1024px) {
        .ad2 .ad-container .ad-description {
          margin-right: 0; } }
  .ad2 .button-form {
    margin-right: 64px; }
    @media screen and (max-width: 1024px) {
      .ad2 .button-form {
        margin: 0; } }

.article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 418px; }
  @media screen and (max-width: 420px) {
    .article {
      -ms-flex-direction: column;
          flex-direction: column;
      height: 720px; } }
  @media screen and (max-width: 1024px) {
    .article {
      height: 100%; } }
  .article .article-image {
    height: 419px;
    width: auto; }
    @media screen and (max-width: 420px) {
      .article .article-image {
        height: auto;
        width: 100%; } }
    @media screen and (max-width: 1024px) {
      .article .article-image {
        height: auto;
        width: 100%; } }
  .article .watch {
    height: 439px; }
    @media screen and (max-width: 420px) {
      .article .watch {
        height: auto;
        width: 100%; } }
    @media screen and (max-width: 1024px) {
      .article .watch {
        height: auto;
        width: 100%; } }
  .article .article-text-container {
    font-family: 'Open Sans', sans-serif;
    color: #3a4d60; }
    .article .article-text-container .article-title {
      font-weight: bold;
      font-size: 13px;
      padding-bottom: 4px; }
      @media screen and (max-width: 1024px) {
        .article .article-text-container .article-title {
          font-size: 11px; } }
    .article .article-text-container .article-subtitle {
      font-size: 16px;
      padding-bottom: 24px;
      line-height: 26px; }
      @media screen and (max-width: 1024px) {
        .article .article-text-container .article-subtitle {
          font-size: 14px;
          line-height: 23px; } }
    .article .article-text-container .article-description {
      font-size: 12px;
      line-height: 21px; }
      @media screen and (max-width: 1024px) {
        .article .article-text-container .article-description {
          font-size: 10px;
          line-height: 18px; } }
  .article .right-container {
    margin: 78px 203px 0 86px; }
    @media screen and (max-width: 420px) {
      .article .right-container {
        margin: 0 auto;
        width: 76%;
        padding-bottom: 10px; } }
    @media screen and (max-width: 1024px) {
      .article .right-container {
        margin: 15px 15px 0 25px;
        width: 596px; } }
  .article .left-container {
    margin: 92px 65px 0 178px; }
    @media screen and (max-width: 420px) {
      .article .left-container {
        margin: 0 auto;
        width: 76%;
        padding-top: 15px; } }
    @media screen and (max-width: 1024px) {
      .article .left-container {
        margin: 15px 19px 0 25px;
        width: 596px; } }

.watch-article {
  height: 439px; }
  @media screen and (max-width: 420px) {
    .watch-article {
      height: 700px; } }
  @media screen and (max-width: 1024px) {
    .watch-article {
      height: 100%; } }

.photography-container {
  background-image: url("../img/photography-background.png");
  height: 563px;
  background-size: 100% auto; }
  @media screen and (max-width: 420px) {
    .photography-container {
      height: 640px;
      background-size: auto 100%; } }
  @media screen and (max-width: 1024px) {
    .photography-container {
      background-size: auto 100%; } }
  .photography-container .container {
    padding: 303px 0 87px;
    color: #fff;
    font-family: 'Open Sans', sans-serif; }
    @media screen and (max-width: 420px) {
      .photography-container .container {
        padding: 277px 0 87px; } }
    @media screen and (max-width: 1024px) {
      .photography-container .container {
        padding-top: 233px; } }
    .photography-container .container .photography-sign {
      border: 1px solid #fff;
      height: 28px;
      width: 113px;
      border-radius: 30px;
      text-align: center;
      position: relative;
      margin-bottom: 14px; }
      .photography-container .container .photography-sign .photography-sign-text {
        font-size: 11px;
        padding-top: 6px;
        position: absolute;
        left: 21%; }
    .photography-container .container .photography-title {
      margin-bottom: 18px;
      font-size: 34px;
      font-weight: normal;
      width: 45%;
      line-height: 43px; }
      @media screen and (max-width: 420px) {
        .photography-container .container .photography-title {
          width: 86%;
          font-size: 27px; } }
      @media screen and (max-width: 1024px) {
        .photography-container .container .photography-title {
          width: 440px; } }
    .photography-container .container .author-container {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 90px;
      width: 23.8%;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      @media screen and (max-width: 420px) {
        .photography-container .container .author-container {
          width: 74.8%; } }
      @media screen and (max-width: 1024px) {
        .photography-container .container .author-container {
          width: 33.8%; } }
      .photography-container .container .author-container .photography-image {
        border-radius: 100%;
        height: 38px; }
      .photography-container .container .author-container .photography-subtitle {
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }

.get-in-touch-container {
  background-color: #E7526B;
  height: 387px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; }
  .get-in-touch-container .get-in-touch-div {
    padding-top: 59px; }
    .get-in-touch-container .get-in-touch-div .get-in-touch-title {
      padding-bottom: 14px; }
    .get-in-touch-container .get-in-touch-div .get-in-touch-subtitle {
      padding-bottom: 24px;
      width: 362px;
      line-height: 21px; }
      @media screen and (max-width: 420px) {
        .get-in-touch-container .get-in-touch-div .get-in-touch-subtitle {
          width: 326px; } }
    .get-in-touch-container .get-in-touch-div .get-in-touch-link {
      color: #fff; }

.footer {
  background-color: #2e3b4e;
  height: 367px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 10.2px; }
  .footer .footer-div {
    padding-top: 34px; }

* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden; }

.container {
  margin: 0 auto;
  max-width: 1327px; }
  @media screen and (max-width: 420px) {
    .container {
      max-width: 320px; } }
  @media screen and (max-width: 1024px) {
    .container {
      max-width: 760px; } }

.button-color {
  border-radius: 30px;
  height: 52px;
  width: 236px;
  background-color: #8824cd;
  border: 0;
  font-size: 16px;
  font-weight: bold; }

.last-sections-container {
  margin: 0 auto;
  max-width: 996px; }
  @media screen and (max-width: 420px) {
    .last-sections-container {
      max-width: 320px; } }
  @media screen and (max-width: 1024px) {
    .last-sections-container {
      max-width: 710px; } }
