* {
    margin: 0;
    padding: 0;
    
}

.last-sections-container {
    margin: 0 auto;
    max-width: 996px;
    @include media ("<=tablet") {
        max-width: 80%;
    }
    @include media (">tablet", "<=desktop") {
        max-width: 710px;
        margin: 0 auto;
        width: 80%;
    }
}


