.wicked {
    background-image: url(../img/ad1-image.png);
    height: 452px;
    &:before {
        background: url(../img/semicircle-image.png) no-repeat 50% 0;
        content: '';
        display: block;
        height: 35px;
    }
}

.wicked-background-color {
    color: $color-primary;
    font-family: $font-sans-serif;
    font-weight: normal;
    height: 100%;
    width: 100%;
}

.wicked-container {
    margin: 0 auto;
    max-width: 1327px;
    padding-top: 88px;
    text-align: center;
    width: 40%;
    @include media ("<=tablet") {
        margin: 0 auto;
        padding-top: 141px;
        width: 80%;
    }
    @include media (">tablet", "<=desktop") {
        margin: 0 auto;
        width: 65%;
    }
}

.wicked-title {
    font-size: 35px;
    font-weight: normal;
    padding-bottom: 9px;
    @include media ("<=tablet") {
        font-size: 20px;
    }
}

.wicked-description {
    font-size: 15px;
    line-height: 26px;
    margin: 10px 0 0 54px;
    padding-bottom: 9px;
    width: 83%;
    @include media ("<=tablet") {
        margin: 0 auto;
        width: 100%;
    }
}

.button-form {
    margin-top: 24px;
}
