.footer {
    background-color: $color-background;
    color: $color-primary;
    font-family: $font-sans-serif;
    font-size: 10.2px;
    padding-bottom: 20%;
}

.footer-div {
    padding-top: 34px;
}
