.get-in-touch-container {
    background-color: $color-background-secondary;
    color: $color-primary;
    font-family: $font-sans-serif;
    font-size: 15px;
    padding-bottom: 14.2%;
}

.get-in-touch-div {
    padding-top: 59px;
}

.get-in-touch-title {
    padding-bottom: 14px;
}

.get-in-touch-subtitle {
    padding-bottom: 24px;
    width: 362px;
    line-height: 21px;
    @include media ("<=tablet") {
        width: 81%;
    }
}

.get-in-touch-link {
    color: $color-primary;
}
