.photography {
    background-image: url(../img/photography-background.png);
    height: 563px;
    background-size: cover;
    @include media ("<=tablet") {
        height: 640px;
        background-size: auto 100%;
    }
    @include media (">tablet", "<=desktop") {
        background-size: auto 100%;
    }
}

.photography-container {
    padding: 303px 0 0;
    color: $color-primary;
    font-family: $font-sans-serif;
    @include media ("<=tablet") {
        padding: 277px 0 87px;
    }
    @include media (">tablet", "<=desktop") {
        padding-top: 233px;
    }
}

.photography-sign {
    border: 1px solid $color-primary;
    height: 28px;
    width: 113px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 14px;
}

.photography-sign-text {
    font-size: 13px;
    padding-top: 6px;
    position: absolute;
    left: 21%;
}

.photography-title {
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: normal;
    width: 53%;
    line-height: 43px;
    @include media ("<=tablet") {
        width: 86%;
        font-size: 27px;
    }
    @include media (">tablet", "<=desktop") {
        width: 440px;
    }
}

.author-container {
    display: flex;
    margin-bottom: 90px;
    max-width: 25%;
    justify-content: space-between;
    @include media ("<=tablet") {
        width: 47.8%;
    }
    @include media (">tablet", "<=desktop") {
        width: 38.8%;
    }
}

.photography-image {
    border-radius: 100%;
    height: 38px;
}

.photography-subtitle {
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
}
