$color-primary: #fff;
$color-icon: #b6b6b6;
$color-secondary-subtitle: #a87bb7;
$color-secondary: #3a4d60;
$color-background: #2e3b4e;
$color-background-secondary: #E7526B;
$color-button-primary: #8824cd;
$color-button-secondary: #b87ce1;
$breakpoint-small: 730px;
$breakpoint-large-end: 1024px;
$breakpoint-large-start: 731px;
$font-sans-serif: Open Sans, sans-serif;


$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);