.ad1 {
    background-image: url("../img/ad1-image.png");
    height: 452px;
    .ad-background-color {
        height: 100%;
        width: 100%;
        color: $w-color;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        .container {
            margin: 0 403px;
            padding-top: 122px;
            text-align: center;
            .ad-title {
                font-size: 29px;
                padding-bottom: 13px;
                font-weight: normal;
            }
            .ad-description {
                font-size: 13.2px;
                padding-bottom: 28px;
                width: 80%;
                margin: 0 0 0 46px;
            }
            .button-form {
                margin-right: 2px;
                .button {
                    border-radius: 30px;
                    height: 52px;
                    width: 284px;
                    background-color: $w-color;
                    border: 0;
                    font-size: 16px;
                    color: $p-color;
                }
            }
        }
    }
}

.ad2 {
    background-image: url("../img/ad2-image.png");
    height: 464px;
    .ad-container {
        height: 100%;
        width: 100%;
        color: $w-color;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        padding-top: 150px;
        margin: 0 30px;
        text-align: center;
        .ad-title {
            font-size: 33px;
            padding-bottom: 18px;
            font-weight: normal;
            margin: 0 60px 0 0;
        }
        .ad-subtitle {
            font-size: 18px;
            padding-bottom: 25px;
            width: 750px;
            margin-left: 300px;
            color: $lp-color;
            line-height: 27px;
        }
        .ad-description {
            font-size: 10px;
            margin: 9px 63px 0 0;
        }

        .button-form {
                margin-right: 64px;
        }
    }
}
