.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 418px;
    .article-image {
        height: 419px;
        width: auto;
    }
    .watch {
        height: 439px;
    }
    .article-text-container {
        font-family: 'Open Sans', sans-serif;
        color: $article-text-color;
        .article-title {
            font-weight: bold;
            font-size: 13px;
            padding-bottom: 4px;
        }
        .article-subtitle {
            font-size: 16px;
            padding-bottom: 24px;
            line-height: 26px;
        }
        .article-description {
            font-size: 12px;
            line-height: 21px;
        }
    }
    .right-container {
        margin: 78px 203px 0 86px;
    }
    .left-container {
        margin: 92px 65px 0 178px;
    }
}
.watch-article {
    height: 439px;
}
