.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 418px;
    @media screen and (max-width: $break-small) {
        flex-direction: column;
        height: 720px;
    }
    @media screen and (max-width: $break-large) {
        height: 100%;
    }
    .article-image {
        height: 419px;
        width: auto;
        @media screen and (max-width: $break-small) {
            height: auto;
            width: 100%;
        }
        @media screen and (max-width: $break-large) {
            height: auto;
            width: 100%;
        }
    }
    .watch {
        height: 439px;
        @media screen and (max-width: $break-small) {
            height: auto;
            width: 100%;
        }
        @media screen and (max-width: $break-large) {
            height: auto;
            width: 100%;
        }
    }
    .article-text-container {
        font-family: 'Open Sans', sans-serif;
        color: $article-text-color;
        .article-title {
            font-weight: bold;
            font-size: 13px;
            padding-bottom: 4px;
            @media screen and (max-width: $break-large) {
                font-size: 11px;
            }
        }
        .article-subtitle {
            font-size: 16px;
            padding-bottom: 24px;
            line-height: 26px;
            @media screen and (max-width: $break-large) {
                font-size: 14px;
                line-height: 23px;
            }
        }
        .article-description {
            font-size: 12px;
            line-height: 21px;
            @media screen and (max-width: $break-large) {
                font-size: 10px;
                line-height: 18px;
            }
        }
    }
    .right-container {
        margin: 78px 203px 0 86px;
        @media screen and (max-width: $break-small) {
            margin: 0 auto;
            width: 76%;
            padding-bottom: 10px;
        }
        @media screen and (max-width: $break-large) {
            margin: 15px 15px 0 25px;
            width: 596px;
        }
    }
    .left-container {
        margin: 92px 65px 0 178px;
        @media screen and (max-width: $break-small) {
            margin: 0 auto;
            width: 76%;
            padding-top: 15px;
        }
        @media screen and (max-width: $break-large) {
            margin: 15px 19px 0 25px;
            width: 596px;
        }
    }
}

.watch-article {
    height: 439px;
    @media screen and (max-width: $break-small) {
        height: 700px;
    }
    @media screen and (max-width: $break-large) {
        height: 100%;
    }
}