.features {
    background-color: #2e3b4e;
    .container {
        padding-bottom: 142px;
            max-width: 1100px;
        .features-list {
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            color: #fff;
            .features-item {
                flex-basis: 392px;
                margin: 65px 34px 0 0;
                font-family: 'Open Sans', sans-serif;
                .features-item-title {
                    margin: 0;
                    font-weight: bold;
                    font-size: 14px;
                    padding-bottom: 34px;
                }
                .features-item-description {
                    font-weight: normal;
                    font-size: 13.5px;
                }
            }
        }
    }
}
