.footer {
    background-color: $features-background-color;
    height: 367px;
    color: $w-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 10.2px;
    .footer-div {
        padding-top: 34px;
    }
}