.footer {
    background-color: $features-background-color;
    color: $w-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 10.2px;
    padding-bottom: 20%;
}

.footer-div {
    padding-top: 34px;
}
