.get-in-touch-container {
    background-color: #E7526B;
    height: 387px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    .get-in-touch-div {
        padding-top: 59px;
        .get-in-touch-title {
            padding-bottom: 14px;
        }
        .get-in-touch-subtitle {
            padding-bottom: 24px;
            width: 362px;
            line-height: 21px;
        }
        .get-in-touch-link {
            color: #fff;
        }
    }
}
