.header {
    background: url("../img/header-background.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 700px;
    @media screen and (max-width: $break-small) {
        background-size: 100% 100%;
    }
    @media screen and (min-device-width: $break-large-start) and (max-width: $break-large-end) {
        min-height: 1024px;
        background-size: 100% 100%;
    }
}

.header-nav {
    border-bottom: 0.1px groove $w-color;
    height: 86px;
}

.header-logo {
    margin: 32px 0 0 162px;
    @media screen and (max-width: $break-small) {
        margin: 36px 0 0 29px;
    }
    @media screen and (min-device-width: $break-large-start) and (max-width: $break-large-end) {
        margin: 32px 0 0 66px;
    }
}

.hamburger-menu-buttons-group {
    display: none;
    @media screen and (max-width: $break-large-end) {
        display: block;
    }
}

.hamburger {
    @media screen and (max-width: $break-large-end) {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 85px;
        padding: 5px 17px 0px 15px;
        color: $w-color;
        border: 0;
        font-size: 45px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
}

.cross {
    @media screen and (max-width: $break-large-end) {
        background: none;
        position: absolute;
        top: 0px;
        right: 0;
        padding: 13px 15px 0px 15px;
        color: $article-text-color;
        border: 0;
        font-size: 48px;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
        display: none;
    }
}

.header-nav-list {
    @media screen and (min-width: $break-large-end) {
        list-style-type: none;
        display: inline-block;
        float: right;
        margin-top: 33px;
    }
    @media screen and (max-width: $break-large-end - 1) {
        display: none;
        z-index: 1000000;
        width: 100%;
        background: $w-color;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        padding: 85px 0 0 0;
        list-style-type: none;
        list-style-image: none;
    }
}

.header-nav-item {
    @media screen and (min-width: $break-large-end) {
        display: inline-block;
        margin: 0 16px;
    }
    @media screen and (max-width: $break-large-end) {
        padding: 15px 0 15px 0;
    }
}

.header-nav-link {
    @media screen and (min-width: $break-large-end) {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        text-decoration: none;
        color: $w-color;
        padding-bottom: 35px;
    }
    @media screen and (max-width: $break-large-end) {
        color: $article-text-color;
        text-decoration: none;
        font-size: 20px;
    }
}

.header-nav-link:hover {
    border-bottom: 2px solid $w-color;
}

.header-search-form {
    position: relative;
    width: 190px;
    margin: auto;
}

.search-input {
    border-radius: 30px;
    height: 34px;
    padding-left: 28px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    width: 160px;
    margin-top: -10px;
    outline: none;
}

.icon-search {
    color: $g-color;
    margin-left: -10px;
    position: absolute;
    top: 7%;
    right: 4%;
}

.header-text-container {
    margin: 219px 0 0 188px;
    width: 419px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: $w-color;
    @media screen and (max-width: $break-small) {
        text-align: center;
        margin: 0 auto;
        width: 84%;
    }
}

.header-title {
    font-size: 41.5px;
    font-weight: normal;
    padding-bottom: 37px;
    margin: 0;
    line-height: 59px;
    @media screen and (max-width: $break-small) {
        font-size: 30px;
        margin-top: 127px;
        width: 100%;
        padding-bottom: 20px;
        line-height: 40px;
    }
}

.header-subtitle {
    font-size: 10px;
    margin: 9px 19px 0 0;
    @media screen and (max-width: $break-small) {
        margin: 9px 0 0 0;
    }
}
