.header {
    background: url("../img/header-background.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 700px;
    .header-nav {
        border-bottom: 0.1px groove #fff;
        height: 86px;
        .header-logo {
            margin: 32px 0 0 162px;
        }
        .header-nav-list {
            list-style-type: none;
            display: inline-block;
            float: right;
            margin-top: 33px;
            .header-nav-item {
                display: inline-block;
                margin: 0 16px;
                .header-nav-link {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 11px;
                    text-decoration: none;
                    color: #fff;
                    padding-bottom: 35px;
                    &:hover {
                        border-bottom: 2px solid #fff;
                    }
                }
                .header-search-form {
                    position: relative;
                    .search-input {
                        border-radius: 30px;
                        height: 34px;
                        padding-left: 28px;
                        font-size: 12px;
                        font-family: 'Open Sans', sans-serif;
                        width: 160px;
                        margin-top: -10px;
                        outline: none;
                    }
                    .icon-search-1 {
                        color: #b6b6b6;
                        margin-left: -10px;
                        position: absolute;
                        top: 7%;
                        right: 4%;
                    }
                }
            }
        }
    }
    .header-text-container {
        margin-left: 199px;
        margin-top: 219px;
        width: 419px;
        text-align: right;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        .header-title {
            font-size: 41.5px;
            font-weight: normal;
            padding-bottom: 37px;
            margin: 0;
            line-height: 59px;
        }
        .header-subtitle {
            font-size: 10px;
            margin: 9px 19px 0 0;
        }
    }
}
