.photography-container {
    background-image: url("../img/photography-background.png");
    height: 668px;
    .container {
        margin: 0 206px;
        padding: 360px 0 87px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        .photography-sign {
            border: 1px solid #fff;
            height: 36px;
            width: 135px;
            border-radius: 30px;
            text-align: center;
            position: relative;
            margin-bottom: 30px;
            .photography-sign-text {
                font-size: 13px;
                padding-top: 10px;
                position: absolute;
                left: 21%;
            }
        }
        .photography-title {
            margin-bottom: 32px;
            font-size: 40px;
            font-weight: normal;
        }
        .author-container {
            display: flex;
            margin-bottom: 90px;
            width: 28%;
            justify-content: space-between;
            .photography-image {
                border-radius: 100%;
            }
            .photography-subtitle {
                display: flex;
                font-size: 13px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
