@import "variables";
@import "header";
@import "features";
@import "wicked";
@import "article";
@import "photography";
@import "get-in-touch";
@import "footer";
@import "experience";
* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1327px;
    @media screen and (max-width: $break-small) {
        max-width: 80%;
    }
    @media screen and (min-device-width: $break-large-start) and (max-width: $break-large-end) {
        max-width: 80%;
    }
}

.button-color {
    border-radius: 30px;
    height: 52px;
    width: 236px;
    background-color: #8824cd;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    border-top: thin solid #b87ce1;
    box-shadow: 0px 0px 2px 0px #b87ce1;
    outline: none;
}

.last-sections-container {
    margin: 0 auto;
    max-width: 996px;
    @media screen and (max-width: $break-small) {
        max-width: 80%;
    }
    @media screen and (min-device-width: $break-large-start) and (max-width: $break-large-end) {
        max-width: 710px;
        margin: 0 auto;
        width: 80%;
    }
}
