@import "header";
@import "features";
@import "ad";
@import "article";
@import "photography";
@import "get-in-touch";
@import "footer";

*{
    padding: 0;
    margin: 0;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.button-color {
            border-radius: 30px;
            height: 62px;
            width: 282px;
            background-color: #8824cd;
            border: 0;
            font-size: 18px;
        }
.last-sections-container {
    margin: 0 auto;
    max-width: 950px;
}